.App {
  text-align: center;
}

.dropShadow {
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

  -webkit-transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s,
    -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s,
    transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 80px; */
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-footer {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: 10%;
  background-blend-mode: screen;
  /* background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%); */
  /* background-color: #222; */
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 100vw;
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
}

.footer-menu-button {
  flex: 1 1;
}

.footer-menu-button span {
  display: inherit;
  color: #f700af;
  font-size: 1em;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.activeButton {
  /* height: 130px; */
  /* width: 130px; */
  /* border-radius: 50%; */
  /* animation: pulse 5s ease-in-out; */
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
}

.activeButton .footer-menu-button img {
  width: 10vw;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

#root {
  font-family: "Kanit", sans-serif;
  line-height: 0px;
}

.fill {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* top: 40px; */
  text-align: center;
  /* font-size: 50px; */
  /* color: white; */
}

.nav {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  /* height: 40px; */
  width: 100%;
  /* display: flex; */
  background-color: white;
  z-index: 2;
}

.navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 5px;
}

.mainHeader {
  margin-top: 50px;
}

/* ************************** */
/* PANELS */
/* ************************** */

.expanded-list-item-container {
  line-height: 14px;
}

.panelListItem {
  width: 100vw;
  /* background: blue; */
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}
